{% extends "base.html"%}

{% block content %}
<h1>Sign In</h1>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.name.label}} <br>
       {{form.name(size=32)}}</p>

    <p> {{form.email.label}} <br>
       {{form.email(size=32)}}</p>

    <p> {{form.username.label}} <br>
       {{form.username(size=32)}}</p>

    <p> {{form.password.label}} <br>
       {{form.password(size=32)}}</p>

    <p> {{form.confirm.label}} <br>
       {{form.confirm(size=32)}}</p>

    <p>{{form.submit()}}</p>
</form>
{% endblock %}
