{% extends 'base.html' %}

{% block content %}
  <style>
    .folder-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .folder-button-container {
      margin: 0 10px 10px 0;
    }

    .folder-button, .folder-button-danger {
      background-color: #3ebe42; 
      color: white;
      padding: 8px 13px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .folder-button-danger {
      background-color: #f44336; 
      border: none;
    }
  </style>

{% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
   {% endif %}
{% endwith %}

    <h2 class="text-lg" style="font-size: 18pt; font-weight:bold">Create a Folder</h2>
  <form method="POST" action="{{ url_for('folderPage') }}">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title(size=32) }}
    {{ form.submit }}
  </form>
  <br>
  <h2 class="text-lg" style="font-size: 18pt; font-weight:bold">Your Folders</h2>
  <div class="folder-buttons">
    {% for folder in folders %}
      <div class="folder-button-container">
        <a class="folder-button" href="{{ url_for('gotofolder', folder_id=folder.id) }}">
          {{ folder.folder_name }}
        </a>
        <form method="POST" action="{{ url_for('delete_folder') }}">
          {{ form.hidden_tag() }}
          <button type="submit" name="folder_id" value="{{ folder.id }}" class="btn btn-danger folder-button folder-button-danger">Delete Folder</button>
        </form>
      </div>
    {% endfor %}
  </div>

  {% if not folders %}
    <p>No folders available.</p>
  {% endif %}
{% endblock %}
