{% extends "base.html"%}

{% block content %}
<html>
<head>
  <title>Flask Example</title>
  <!-- include two diff stylesheets-->
  <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
  <div class="container mx-auto py-4">
    <h1 class="" style="font-size: 24pt; font-weight:bold">{{ current_user.username }}'s Folders</h1>
    <br>
    <br>
    <form method="POST" action="{{ url_for('folderPage') }}">
      {{ form.hidden_tag() }}
      <div class="text-lg">
        <label class="block" for="title" style="font-size: 16pt; font-weight:bold">Folder Title: </label>
        <input class="text-gray-700" id="title" name="title" style="font-size: 16pt" type="text" placeholder="Enter Folder Title">
      </div>
      <button type="submit" name="action" value="submit">Create Folder</button>
    </form>

      {% for note in folders %}
        {% if not note.folder_id %}
                    {% if note.user_id == current_user.id or note.public %}
                        <br>
                        <h2 class="text-lg" style="font-size: 16pt; font-weight:bold">Note {{ note.id }}: {{ note.title }}</h2>
                        <i class="text-sm" style="font-size: 16pt">{{ note.timestamp }}</i>
                        <h3>Note owned by: {{ get_username(note.user_id) }}</h3>
                        
                        {% for folder in folders %}
                        <form method="POST" action="{{ note.id }}/gofolder">
                            <button class="button is-link" name="{{ folder.folder_name }}" type="submit">Add to Folder: "{{ folder.folder_name }}"</button>
                        </form>
                        {% endfor %}
                    {% endif %}
                  {% endif %}

                {% endfor %}


    {% for folder in folders %}
                    <br>
                    <h2 class="text-lg" style="font-size: 16pt; font-weight:bold">Folder {{ folder.id }}: {{ folder.folder_name }}</h2>
                    <i class="text-sm" style="font-size: 16pt">{{ folder.user_id }}</i>
                    <br>
              {% for note in folders %}
                      <h2 class="text-lg" style="font-size: 16pt; font-weight:bold">FolderID-> "{{ folder.id }}" FolderNoteID -> "{{ note.folder_id }}"</h2>

                {% if folder.id == note.folder_id %}
                  {% if note.user_id == current_user.id or note.public %}
                      <br>
                      <h2 class="text-lg" style="font-size: 16pt; font-weight:bold">Note {{ note.id }}: {{ note.title }}</h2>
                      <i class="text-sm" style="font-size: 16pt">{{ note.timestamp }}</i>
                      <h3>Note owned by: {{ get_username(note.user_id) }}</h3>
                      <br>
                      <form method="POST" action="{{ note.id }}/modify">
                          <button class="button is-warning" name="Note Modify" type="submit">Modify Note</button>
                      </form>
                      <form method="POST" action="{{ note.folder_id }}/gofolder">
                          <button class="button is-link" name="{{ folder.folder_name }}" type="submit">Add to Folder: "{{ folder.folder_name }}"</button>
                      </form>
                      {% if note.user_id == current_user.id %}
                      <form method="POST" action="{{ note.id }}/rm">
                          <button class="button is-danger" name="Note Delete" type="submit">Delete Note</button>
                      </form>
                          <form method="POST" action="{{ note.id }}/toggle_visibility">
                              <button class="button is-info" name="Toggle Visibility" type="submit">
                                  {% if note.public %}
                                      Make Private
                                  {% else %}
                                      Make Public
                                  {% endif %}
                          </button>
                      </form>
                      {% endif %}
                   {% endif %}
                  {% endif %}
                {% endfor %}
            {% endfor %}
    </body>
  </html>
  {% endblock %}
