{% extends "base.html"%}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
   {% endif %}
{% endwith %}
<h1>Forgot Password</h1>

<form method="post">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label>

    {{ form.username(size=32) }}<br>
    <label for="security_question">Security Question:</label>

    {{ form.security_question(size=1) }}<br>
    <label for="security_answer">Security Answer:</label>

    {{ form.security_answer(size=32) }}<br>
    <button type="submit">Submit</button>

</form>
{% endblock %}
