{% extends "base.html"%}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
   {% endif %}
{% endwith %}
<h1>Forgot Password</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <!--asks for user to type in the username-->
    <label for="username">Username:</label>
<!--asks for user to select the security question they answered-->
    {{ form.username(size=32) }}<br>
    <label for="security_question">Security Question:</label>
<!--asks user to type in the answer to the security question -->
    {{ form.security_question(size=1) }}<br>
    <label for="security_answer">Security Answer:</label>
<!--button to use to submit data-->
    {{ form.security_answer(size=32) }}<br>
    <button type="submit">Submit</button>

</form>
{% endblock %}
