{% extends "base.html"%}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
   {% endif %}
{% endwith %}
<h1>Forgot Password</h1>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}

    <br><p> {{form.username.label}}
       {{form.username(size=32)}}</p> <br>

    <p> {{form.security_question.label}} <br>
       {{form.security_question(size=1)}}</p>

    <br><p> {{form.security_answer.label}}
       {{form.security_answer(size=32)}}</p><br>
    <p>{{form.submit()}}</p>

</form>
{% endblock %}
