{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
   {% endif %}
{% endwith %}

<h2 class="text-lg" style="font-size: 24pt; font-weight:bold">Current Folder: {{ folder.folder_name }}</h2>

{% if notes %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
        <br>
        <form name="post" action="{{ url_for('gotofolder', folder_id=folder.id) }}" method="GET">
            <label for="sorting">Sort Notes: </label>
            <br>
            <!-- We create the sort list dropdown menu and iterate over each sorting option -->
            <select name="sorting" class="selectpicker form-control">
                <option value=''>- Sorting Options -</option>
                {% for sort_by in sort_list %}
                    <option value="{{ sort_by }}" {% if sort_by == sort_type %}selected="selected"{% endif %}> {{ sort_by }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
            <br>
        </form>
        <!-- We iterate over all notes, and check for every note whether the present user is the originator or whether the note is public or not -->
        {% for note in notes %}
            {% if note.user_id == current_user.id or note.public %}
                <br>
                <h2 class="text-lg" style="font-size: 24pt; font-weight:bold">Note ID {{ note.id }}: {{ note.title }}</h2>
                <i class="text-sm" style="font-size: 16pt">Date Created: {{ note.date_created }}</i>
                <br>
                <i class="text-sm" style="font-size: 16pt">Last Modified: {{ note.last_modified }}</i>
                <h3>Note owned by: {{ get_username(note.user_id) }}</h3>
                <br>

                <!-- Add a dropdown button for selecting folders -->
                <form method="POST" action="{{ url_for('transfer_note', note_id=note.id) }}">
                    {{ form.hidden_tag() }}
                    <label for="folder-select">Select Folder:</label>
                    <select id="folder-select" name="folder_id">
                        <option value=''>- Folders -</option>
                        {% for folder in folders %}
                            <option value="{{ folder.id }}">{{ folder.folder_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Transfer to Folder">
                </form>
                
                <!-- Redirect to note modification page -->
                <form method="POST" action="{{ url_for('modify_note', note_id=note.id) }}">
                    <button class="button is-warning" name="Note Modify" type="submit">Modify Note</button>
                </form>
                
                <!-- Redirect to note revision page -->
                <form method="POST" action="{{ url_for('revision_history', note_id=note.id) }}">
                    <button class="button is-info" name="Note History" type="submit">Note History</button>
                </form>
                
                <!-- Redirect to note deletion endpoint -->
                <form method="POST" action="{{ url_for('delete_note', note_id=note.id) }}">
                    <button class="button is-danger" name="Note Delete" type="submit">Delete Note</button>
                </form>
                
                <!-- Redirect to toggle visibility endpoint -->
                <form method="POST" action="{{ url_for('toggle_visibility', note_id=note.id) }}">
                    <button class="button is-info" name="Toggle Visibility" type="submit">
                        {% if note.public %}
                            Make Private
                        {% else %}
                            Make Public
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
{% else %}
<p>No notes in this folder yet.</p>
{% endif %}
<form method="POST" action="{{ url_for('folderPage') }}">
    <button class="button" name="Folder Page" type="submit">Back to Folder Page</button>
</form>
{% endblock %}
