{% extends "base.html"%}

{% block content %}
  <h2>Modify Account</h2>
  <form method="post" action="{{ url_for('modifyaccount') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.confirm.label(class="form-control-label") }}
      {{ form.confirm(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.security_question.label(class="form-control-label") }}
      {{ form.security_question(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.security_answer.label(class="form-control-label") }}
      {{ form.security_answer(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Modify Account</button>
  </form>
{% endblock %}
