{% extends "base.html" %}

{% block content %}
<html>
<head>
  <title>Flask Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
  <div class="container mx-auto py-4">
    <h1 class="" style="font-size: 24pt; font-weight:bold"> {{ current_user.username }}'s Notes </h1>
    <br>
    <br>
    <form method="POST" action="">
      <div class="text-lg">
        <label class="block" for="title" style="font-size: 16pt; font-weight:bold">Title: </label>
        <input class="text-gray-700" id="title" name="title" style="font-size: 16pt" type="text" placeholder="Enter Note Title">
      </div>
      <br>
      <div class="field has-addons has-addons-centered">
        <p class="control">
          <button class="button">
            <span class="icon">
              <i class="fas fa-bold"></i>
            </span>
            <span><b>Bold</b></span>
          </button>
        </p>
        <p class="control">
          <button class="button">
            <span class="icon">
              <i class="fas fa-italic"></i>
            </span>
            <span><i>Italic</i></span>
          </button>
        </p>
        <p class="control">
          <button class="button">
            <span class="icon">
              <i class="fas fa-underline"></i>
            </span>
            <span><u>Underline</u></span>
          </button>
        </p>
      </div>
      <div>
        <label class="text-lg" for="body" style="font-size: 16pt; font-weight:bold">Body: </label>
        <br>
        <textarea class="text-lg" id="body" name="body" rows="20" cols="40" style="font-size: 16pt; border:outset 2px orange" placeholder="Start Typing Here..."></textarea>
      </div>
      <button class="button is-success" name="Note Submit" type="submit">Save Note</button>
  </form>
      {% for note in notes %}
      <div class="text-lg" style="float: left">
          <br>
          <h2 class="text-lg" style="font-size: 16pt; font-weight:bold" >Note {{ note.id }}: {{ note.title }}</h2>
          <i class="text-sm" style="font-size: 16pt">{{ note.timestamp }}</i>
          <br>
          <form method="POST" action="/rm/{{ note.id }}">
            <button class="button is-danger" name="Note Delete" type="submit">Delete Note</button>
          </form>
          <form method="POST" action="">
            <button class="button is-warning" name="Note Modify" type="submit">Modify Note</button>
      </div>
      {% endfor %}
</body>
</html>


{% endblock %}








