{% extends "base.html"%}

{% block content %}
    <h1>So you need to reset your password...</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Reset Password</h2>
    <form method="post" action="{{ url_for('resetpassword') }}">
        {{ form.hidden_tag() }}
#asks the user to type in new password
        <div>
            <label for="new_password">New Password:</label>
            {{ form.new_password(size=32) }}<br>
        </div>
#asks for user to retype the new password
        <div>
            <label for="confirm_new_password">Confirm New Password:</label>
            {{ form.confirm_new_password(size=32) }}<br>
        </div>
#press submit to send data to the database
        <div>
            <button type="submit">Reset Password</button>
        </div>
    </form>
{% endblock %}
