{% extends "base.html"%}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h2>Reset Password</h2>
    <form method="post" action="{{ url_for('resetpassword', username=username) }}">
        {{ form.hidden_tag() }}
        {{form.username(value=username)}}
<!-- asks the user to type in new password -->
        <div>
            <label for="new_password">New Password:</label>
            {{ form.new_password(size=32) }}<br>
        </div>
<!-- asks for user to retype the new password -->
        <div>
            <label for="confirm_new_password">Confirm New Password:</label>
            {{ form.confirm_new_password(size=32) }}<br>
        </div>
<!-- press submit to send data to the database -->
        <div>
            <button type="submit">Reset Password</button>
        </div>
    </form>
{% endblock %}
