{% extends "base.html" %}

{% block content %}
    <h1>So you need to reset your password...</h1>

    <h2>Reset Password</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/resetpassword" method="post">
        {{ form.hidden_tag() }}

        <label for="new_password">New Password:</label>
        {{ form.new_password(size=32) }}<br>

        <label for="confirm_new_password">Confirm New Password:</label>
        {{ form.confirm_new_password(size=32) }}
</br>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
