{% extends "base.html" %}

{% block content%}
<html>
<head>
  <title>Flask Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<form method="GET"">
    <div class="form-group pull-right">
      <label class="text-lg" for="query" style="font-size: 16pt; font-weight:bold">Search Bar: </label>
      <br>
      <input type="text" class="search form-control" placeholder="Search Notes..." name="query">
      <button class="btn btn-default" type="submit"> Search </button>
    </div>
</form>
{% for note in notes %}
    <br>
    <h2 class="text-lg" style="font-size: 16pt; font-weight:bold">Note {{ note.id }}: {{ note.title }}</h2>
    <i class="text-sm" style="font-size: 16pt">{{ note.timestamp }}</i>
    <br>
    <form method="POST" action="{{ note.id }}/rm">
        <button class="button is-danger" name="Note Delete" type="submit">Delete Note</button>
    </form>
    <form method="POST" action="{{ note.id }}/edit">
        <button class="button is-warning" name="Note Modify" type="submit">Modify Note</button>
    </form>
{% endfor %}
</html>
{% endblock %}
