{% extends "base.html" %}

{% block content %}
<body>
    <h1 class="" style="font-size: 24pt; font-weight:bold">Note Content</h1>
    <br>
    <h2><b>Title:</b> {{ note.title }}</h2>
    <p><b>Body:</b> {{ note.body_html|safe }}</p>
    <br>
    <form method="POST" action="{{ request.referrer }}">
        <button class="button is-info" name="Home" type="submit">
            {% if 'home' in request.referrer %}
                Back to Home
            {% elif 'search' in request.referrer %}
                Back to search
            {% else %}
                Back
            {% endif %}
        </button>
    </form>
</body>
{% endblock %}